<!doctype html>

<title>Image 2.0</title>

<style>
body{
	background-color: #14151b;
	color: #072c66;
	font-family: 'Helvetica';
	text-align: center;
}

.canvas{
    margin: 0 auto;
    max-width: 512px;
    max-height: 512px;
}

div.container{
	font-weight: 800;
}

.header{
	font-size: 40px;
	font-weight: 1000;
}

img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.progress{
    color: white;
    font-size: 20px;
    font-weight: 800;
}

.setting{
	font-weight: 600;
}
</style>

<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.css'>
<script src='https://cdnjs.cloudflare.com/ajax/libs/cropperjs/0.8.1/cropper.min.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css'>

<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui'/>

<h1 class='header'>Image 2.0</h1>

<input type='file' id='file' style='margin-left: 110px' accept='image/*' required>

<p>
    <div class='canvas'></div>
</p>

<p>
    <label class='setting'>Enhancement level:</label>
    <select id='enhancement_level'>
        <option value=1>1 (Very low)</option>
        <option value=2>2</option>
        <option value=3 selected='selected'>3</option>
        <option value=4>4</option>
        <option value=5>5 (Very high)</option>
    </select>
</p>

<p>
    <label>
        <input type='checkbox' checked='checked' id='enlarge'>
        <span class='setting'>Enlarge</span>
    </label>
</p>

<p>
    <input type='button' value='Upgrade' id='upgrade'>
</p>

<p class='progress' hidden>
    Upgrading...
</p>
<br>

<script>
    let file = document.getElementById('file'),
    canvas = document.getElementsByClassName('canvas')[0],
    upgrade = document.getElementById('upgrade');

    function create_cropper(evt){
        const allowed = ['jpeg', 'jpg', 'png', 'gif'], name = file.files[0].name;
        const extension = name.split('.').pop();

        if (!allowed.includes(extension)){
            alert('File has to be .jpeg, .jpg, .png, or .gif');
            file.value = '';
            return;
        };

        let containers = document.getElementsByClassName('container');
        for (const container of containers){
            container.setAttribute('hidden', true);
        };

        const reader = new FileReader();
        reader.onload = create_cropper => {
            let img = document.createElement('img');
            img.id = 'image';
            img.src = create_cropper.target.result;

            canvas.innerHTML = '';
            canvas.appendChild(img);
            
            cropper = new Cropper(img, {
                autoCropArea: 1,
                viewMode: 1,
            });
        };
        reader.readAsDataURL(evt.target.files[0]);
    };
    file.addEventListener('change', create_cropper);

    function submit(){
        if (!jQuery.active){
            const cropped_canvas = cropper.getCroppedCanvas();
            let b64 = cropped_canvas.toDataURL();

            let i = new Image();
            i.onload = function(){
                const height = i.height, width = i.width;

                const mx = Math.max(height, width);

                if (800 < mx){
                    alert('The cropped area is too large, please shrink it');
                }

                else{
                    let containers = document.getElementsByClassName('container');
                    for (const container of containers){
                        container.setAttribute('hidden', true);
                    };

                    let progress = document.getElementsByClassName('progress')[0];
                    progress.removeAttribute('hidden');

                    b64 = b64.split(',')[1];

                    let enhancement_level = document.getElementById('enhancement_level');
                    enhancement_level = enhancement_level.selectedIndex+1;

                    const enlarge = document.getElementById('enlarge').checked;

                    data = {file: b64, enhancement_level: enhancement_level, enlarge: enlarge};

                    function success(response){
                        progress.setAttribute('hidden', true);

                        const img = response.img, res = response.res;
                        let original = document.getElementById('original'), upgraded = document.getElementById('upgraded');

                        original.src = 'data:image/png;base64,'+img;
                        upgraded.src = 'data:image/png;base64,'+res;

                        for (const container of containers){
                            container.removeAttribute('hidden');
                        };
                    };

                    $.ajax({type: 'POST', url: '/', data: data,
                            success: success});
                };
            };
            i.src = b64;
        };
    };
    upgrade.addEventListener('click', submit);
</script>


<div class='container' hidden>
    <p>Original</p>
    <img id='original'>
</div>

<br>

<div class='container' hidden>
    <p>Upgraded</p>
    <img id='upgraded'>
</div>
